{% extends "base.html" %}

{% load staticfiles %}

{% load bootstrap %}

{% block meta_title %}<title>Edit Profile</title>{% endblock meta_title %}

{% block extra_head %} 
	{{ form.media }} <!-- Connect media from DatePickerWidget -->
{% endblock %} 

{% block body_class %}main-area{% endblock %}

{% block menu %}{% endblock %}

{% block content_class %}col-md-12{% endblock %}

{% block content_id %}edit-content-column{% endblock %}

{% block content %}

  <div class="loader spacing4em"><img src="{% static 'img/loader.gif' %}"></div>

    <form id="ajaxform" method="POST" enctype="multipart/form-data" \
          action="{% url "hello:edit" object.id %}"> 
    {% csrf_token %}

    <input id="backurl" type="hidden" value="{% url "hello:home" %}" />

        <div class="row-data">
            <div class="col-md-4">{{ form.first_name|bootstrap_horizontal:'col-lg-4' }}</div>
            <div class="col-md-4">{{ form.email|bootstrap_horizontal:'col-lg-3' }}</div>
        </div><br><br>
        <div class="row-data spacing2em">
            <div class="col-md-4">{{ form.last_name|bootstrap_horizontal:'col-lg-4' }}</div>
            <div class="col-md-4">{{ form.jabber|bootstrap_horizontal:'col-lg-3' }}</div>
        </div><br><br>
        <div class="row-data spacing2em">
            <div class="col-md-4">{{ form.birthday|bootstrap_horizontal:'col-lg-4' }}</div>
            <div class="col-md-4">{{ form.skype|bootstrap_horizontal:'col-lg-3' }}</div>
        </div>

        <div class="row-data spacing6em">
            <div class="col-md-4">
                <p>{{ form.photo|bootstrap_horizontal:'col-lg-4' }}</p>

                  {% if photo_exists %}
                    <img class="picture" src='{{ MEDIA_URL }}{{ form.photo.value }}'>
                  {% else %}
                    <img class="picture" src='/static/img/user_default.png'>
                  {% endif %}

             <br><br>

                <button class="btn btn-small btn-primary" 
                type="submit"	value="Save">Save</button>
							
                <a class="btn btn-small btn-primary" href="{% url 'hello:home' %}">Back</a>
            </div>

            <div class="col-md-4"><br>
                {{ form.contacts|bootstrap }}
                {{ form.bio|bootstrap }}
            </div>
        </div>
    </form>

{% endblock content %}

{% block extra_js %}
  <script src="{% static "js/formvalidator/jquery.form-validator.min.js" %}"></script>
  <script src="{% static "js/jquery.form.min.js" %}"></script>
  <script src="{% static "js/editprofile.js" %}"></script>
{% endblock extra_js %}

