{% extends "base.html" %}

{% load staticfiles %}

{% load profile_admin_editing %}

{% block meta_title %}<title>Hello app</title>{% endblock meta_title %}

{% block auth %}{% endblock %}

{% block content %}

{% if bio %}

<div class="row user-auth">
  {% if user.is_authenticated %}
     <a id="edit" href="{% url "hello:edit" bio.pk %}" title="Edit via FORM"> Edit | </a>
     <a href="{% edit_link bio %}" title="Edit via ADMIN">Admin</a>
     <a href="{% url 'accounts:logout' %}?next=/"> | Logout ({{ request.user.username }}) </a>
  {% else %}
     <a href="{% url 'accounts:login' %}?next=/' %}"> Login </a>
  {% endif %}
</div>

<div class="row bio">
 <div class="col-md-2 smallcol">First name:</div>
 <div class="col-md-2">{{ bio.first_name }}</div> 
 <div class="col-md-8"><b>Contacts</b></div> 
</div>

<div class="row bio">
 <div class="col-md-2 smallcol">Last name:</div>
 <div class="col-md-2">{{ bio.last_name }}</div> 
 <div class="col-md-2 smallcol">Email:</div>
 <div class="col-md-6">{{ bio.email }}</div>
</div>

<div class="row bio">
 <div class="col-md-2 smallcol">Date of birth:</div>
 <div class="col-md-2">{{ bio.birthday }}</div> 
 <div class="col-md-2 smallcol">Jabber:</div>
 <div class="col-md-6">{{ bio.jabber }}</div>
</div>

<div class="row bio">
 <div class="col-md-2 smallcol">Photo:</div>
 <div class="col-md-2"></div>
 <div class="col-md-2 smallcol">Skype:</div>
 <div class="col-md-6">{{ bio.skype }}</div>
</div>

<div class="row bio">
 <div class="col-md-4" id="homephoto">
      <br>
      {% if photo_exists %}
			  <img src="{{ bio.photo.url }}" height="200" width="200"/>
      {% else %}
        <img src='static/img/user_default.png' height="200" width="200">
      {% endif %}

      <br><br><br><br>

      <a id="RequestsButton" class="btn btn-primary btn-xs" 
         href="{% url 'hello:request' %}" target="_blank">Requests</a>

      <a class="btn btn-primary btn-xs" 
         href="{% url 'admin:hello_modelschange_changelist' %}"
         target="_blank">Models changes</a>

      <a class="btn btn-primary btn-xs" 
         href="{% url 'hello:user_chat' %}"
         target="_blank">Dialogs</a>

 </div>
 <div class="col-md-8">
    <p id="contacts_text" class="spacing2em">
       <b>Other contacts:</b><br>
       {{ bio.contacts|linebreaks }}
    </p>
    <p id="bio_text" class="spacing2em">
       <b>Bio:</b><br>
       {{ bio.bio|linebreaks }}
    </p>
 </div>
</div>

{% else %}

<div class="row">
   <div class="col-md-8 alert alert-warning">
	 There is no profile in the db<br></div>
   <div class="col-md-4"></div>
</div>

{% endif %}

{% endblock content %}

