{% extends "base.html" %}

{% load static from staticfiles %}

{% block meta_title %}<title id="requests_title">Requests</title>{% endblock meta_title %}

{% block menu %}{% endblock %}

{% block content_class %}col-md-12{% endblock %}

{% block content_id %}req-content-column{% endblock %}

{% block content %}

{% csrf_token %}

<div id="db_has_entries">

			<table class="table table-condensed">
				<thead>
					<tr>
						<th>#</th>
						<th>Method</th>
						<th>Url</th>
						<th>Status Code</th>
            <th><a class="sort" id="dateColumn" href="">Date&amp;Time</a></th>
            <th><a class="sort" id="priorityColumn" href="">Priority</a></th>
					</tr>
				</thead>

				<tbody id="requests-content">
        </tbody>

			</table>

</div>

<div class="row" id="db_is_empty" style="display: none;">
   <div class="col-md-8 alert alert-warning spacing2em">
	 There is no entries in the db yet...<br></div>
   <div class="col-md-4"></div>
</div>

<div id="request_edition">
</div>

{% endblock content %}

{% block footer %}Requests{% endblock footer %}


{% block extra_js %}
  <script src="{% static "js/formvalidator/jquery.form-validator.min.js" %}"></script>
  <script src="{% static "js/requests.js" %}"></script>
{% endblock extra_js %}
