{% extends "base.html" %}

{% load static from staticfiles %}

{% block meta_title %}<title id="requests_title">Requests</title>{% endblock meta_title %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static "css/slider.css" %}">
{% endblock extra_head %}

{% block menu %}{% endblock %}

{% block content_class %}col-md-12{% endblock %}

{% block content_id %}req-content-column{% endblock %}

{% block content %}

{% csrf_token %}

{% if object_list %}

  <div id="slider"></div>
  <a id="btnSetPriority" class="btn btn-primary btn-xs" style="display: none;">Set</a>
  <a id="btnBackPriority" class="btn btn-primary btn-xs" style="display: none;">Back</a>

			<table class="table table-condensed">
				<thead>
					<tr>
						<th>#</th>
						<th>Method</th>
						<th>Url</th>
						<th>Status Code</th>
						<th>Date&ampTime</th>
            <th id="pColumn">Priority</th>
					</tr>
				</thead>

				<tbody id="requests-content">
        </tbody>

			</table>

{% else %}

<div class="row">
   <br><br>
   <div class="col-md-8 alert alert-warning">
	 There is no entries in the db yet...<br></div>
   <div class="col-md-4"></div>
</div>

{% endif %}

{% endblock content %}

{% block footer %}Requests{% endblock footer %}


{% block extra_js %}
  <script src="{% static "js/bootstrap-slider.js" %}"></script>
  <script src="{% static "js/requests.js" %}"></script>
{% endblock extra_js %}
