
{% load staticfiles %}

<!DOCTYPE html>
<html lang=”uk”>

<head>
  <title>South</title>
  <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
</head>

<body>

<div class="container">

   <div class="row" style="margin-top: 2em;">

		 <div class="col-md-6">
       <a class="btn btn-primary btn-xs" 
		      href="{% url "hello:south" %}?act=run">
            python manage.py migrate apps.hello --delete-ghost-migrations</a>
		 </div>

		 <div class="col-md-6">
       <p>Result: this command deletes migrations from the south_db on barista. <br>
          If you'll get None after clicking that is OK!!!<br>
       {{ result }}</p>
		 </div>

  </div>

</div>

</body>

</html>
