
{% extends "base.html" %}

{% load staticfiles %}

{% block meta_title %}<title>Fix south</title>{% endblock meta_title %}

{% block auth %}{% endblock %}

{% block content %}

   <div class="row" style="margin-top: 2em;">
		 <div class="col-md-6">
       <a class="btn btn-primary btn-xs" 
		      href="{% url "hello:south" %}">
            south.html</a>

       <br><br><br>

       <a class="btn btn-primary btn-xs" 
		      href="{% url "hello:south" %}?act=delete_ghost_migrations">
            python manage.py migrate apps.hello --delete-ghost-migrations</a>
       <br><br>
       <a class="btn btn-primary btn-xs" 
		      href="{% url "hello:south" %}?act=0002_fake">
            python manage.py migrate apps.hello 0002 --fake</a>
       <br><br>
       <a class="btn btn-primary btn-xs" 
		      href="{% url "hello:south" %}?act=goto_0002">
            python manage.py migrate apps.hello 0002</a>
       <br><br>
       <a class="btn btn-primary btn-xs" 
		      href="{% url "hello:south" %}?act=list">
            python manage.py migrate --list</a>
       <br><br>
       <a class="btn btn-primary btn-xs" 
		      href="{% url "hello:south" %}?act=table_already_exists">
            ./manage.py migrate myapp --fake</a><br>
       <p>if you already have the app_tables created in the database,<br>
          you just need to run the initial migration as fake</p>

       <br><br>

       <a class="btn btn-primary btn-xs" 
		      href="{% url "hello:south" %}?act=app_db">
            show settinngs.DATABASES</a>
       <br><br>
       <a class="btn btn-primary btn-xs" 
		      href="{% url "hello:south" %}?act=set_app_db">
            set db name in settinngs</a>

       <br><br><br>

       <a class="btn btn-primary btn-xs" 
		      href="{% url "hello:south" %}?act=path_mig">
            show apps/hello/migrations path</a>
       <br><br>
       <a class="btn btn-primary btn-xs" 
		      href="{% url "hello:south" %}?act=path_app">
            show apps/hello path</a>
       <br><br>
       <a class="btn btn-primary btn-xs" 
		      href="{% url "hello:south" %}?act=path_prebase">
            show ../BASE_DIR</a>
       <br><br>
       <a class="btn btn-primary btn-xs" 
		      href="{% url "hello:south" %}?act=path_base">
            show BASE_DIR</a>

       <br><br><br>

       <a class="btn btn-primary btn-xs" 
		      href="{% url "hello:south" %}?act=sh">
            run post_deploy.sh</a>

       <br><br><br>

       <a class="btn btn-primary btn-xs" 
		      href="{% url "hello:south" %}?act=history">
            show MigrationHistory</a>
       <br><br>
       <a class="btn btn-primary btn-xs" 
		      href="{% url "hello:south" %}?act=clear_history">
            clear MigrationHistory</a>

       <br><br><br>

       <a class="btn btn-primary btn-xs" 
		      href="{% url "hello:south" %}?act=rc_fields">
            show RequestContent fields</a>
       <br><br>
       <a class="btn btn-primary btn-xs" 
		      href="{% url "hello:south" %}?act=rc_clear">
            clear RequestContent table</a>


       <br><br><br>

       <a class="btn btn-primary btn-xs" 
		      href="{% url "hello:south" %}?act=delete_apps_hello_tables">
            delete_apps_hello_tables</a>
       <br><br>
       <a class="btn btn-primary btn-xs" 
		      href="{% url "hello:south" %}?act=app_label">
            show app_label</a>
       <br><br>
       <a class="btn btn-primary btn-xs" 
		      href="{% url "hello:south" %}?act=app_tables">
            show app_tables</a>


     <br><br><br><br><br><br><br><br>
     <br><br><br><br><br><br><br><br>
     <br><br><br><br><br><br><br><br>
		 </div>

   <div class="row" style="margin-top: 2em;">
       RESULT: <br><br>

       {% if linebreaks %} 
          {% for item in result %}
            {{ item }}<br>
          {% endfor %}
       {% else %} 
          {{ result }}
       {% endif %}           
   </div>

{% endblock content %}
