/* Global Styles */


h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

body {
  background: url(../img/fon.gif); 
  height:100%; 
  position:relative;
}

#footer {
  position:absolute; 
  bottom:-50px;
  border-top: 1px solid #dddddd;
  padding-top: 10px;
}

.bio {
  height: 30px;
}

.smallcol {
  width: 150px;
  font-weight: bold;
}

.text {
  width: 90%;
  height: 150px;
}

#req-content-column {
  background: #FBEFF2;
  margin-top: 2em;
}

#edit-content-column {
  margin-top: 4em;
}

.main-area {
  padding-left: 60px;
  padding-right: 60px;
}

.form_widget {
  background-color: #81DAF5;
  color: green;
}




